*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(184, 245, 184);
}
.base{
    width: 80%;
    height: 15px;
    background: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.cactus{
    width:7em;
    height: 5em;
    background: brown;
    position: absolute;
    top: 40%;
    right: 15em;
    border-radius: 0 0 5em 5em;
 
}
.plant{
    position:absolute;
}
    
    .cactus-1{
        width: 2em;
        height: 4em;
       
    background: rgb(15, 124, 15);

        position: absolute;
        top: -4em;
        left: 20px;
        border-radius: 5em 5em 0 0;
    }

.cactus-2{
    width: 2em;
    height: 6em;
    background: rgb(27, 196, 27);
    position: absolute;
    top: -5.9em;
    left: 45px;
    border-radius: 5em 5em 0 0;
}
.cactus-1 .strip-1{
    width: 5px;
    height: 65px;
    background: rgba(0,0,0,.5);
    position: absolute;
    border-radius: 22px 22px 0 0;
    left: 8px;

}